pytest==7.0.1
discord.py==1.7.3
pip==20.0.2 
pylint==2.12.2
py==1.11.0 
discord==1.7.3
requests==2.27.1
python-dotenv==0.20.0
Werkzeug==2.0.3
pymongo==4.1.1
dnspython==2.2.1
pandas==1.4.2
sklearn==0.0
six==1.14.0
category-encoders==2.4.1
ipython==8.3.0
graphviz==0.20
pydotplus==2.0.2